@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

/* scripts */

.nav-active{
    width: 60%;
    bottom: 0;
    padding: 0 15px;
}

.close{
  display: none;
}

.menu{
  background-color: #F14747;
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  margin-right: 5%;
  display: none;
}

body{
  margin-left: 95px;
  margin-right: 95px;
  margin-top: 40px;
}

a{
  text-decoration: none;
  color: black;
}

h2{
  color: #313D6F;
  font-size: 20px;
  /* font-weight: 100; */
}

.small{
  color:#0000008c;
  font-size: 15px;
}

nav button{
  width: 136px;
  height: 38px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
}

.hire{
  background: #F14747;
}

.mode{
  background-color: #313D6F;
}

ul{
  list-style-type: none;
  gap: 30px;
}

nav{
  display: flex;
  gap: 10%;
  align-items: center;
}

ul{
  display: flex;
  align-items: center;
}

nav li{
  font-weight: bold;
  font-size: 20px;
}

/* main */

.main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.main-content h1{
  color: #313D6F;
  font-size: 60px;
}

.main-content p{
  font-size: 20px;
}

.btn .btn{
  background-color: #F14747;
  width: 136px;
  height: 38px;
  border: none;
  color: white;
  font-size: 20px;
  margin-top: 10%;
}

.main-picture{
  overflow: hidden;
  position: relative;
  width: 100%;
}

.main-picture img{
  /* position: absolute; */
  width: 100%;
}

/* boxes */
.boxs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  justify-content: center;
  align-items: center;
  /* width: 100rem; */
}

.boxs .btn{
  border-radius: 10px;
  width: 123px;
}

.boxs .box{
background: #FFFFFF;
box-shadow: 0px 16px 32px rgba(12, 12, 13, 0.4);
border-radius: 20px;
padding: 20px;
height: 15rem;
justify-items: center;
align-content:center;
position: relative;
}

.icon{
  /* position: absolute; */
  overflow: hidden;
  top: 0;
  left: 25%;
}


@media (max-width: 1024px) {

  ul{
    gap: 10px;
  }
 

  .boxs{
    grid-template-columns: 1fr 1fr;
    width: 55rem;
  }
  
}

@media(max-width: 600px) {
  .navigation{
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0%;
    width: 0%;
    bottom: 0;
    z-index: 999;
    box-shadow: 0px 10px 10px rgba(12, 12, 13, 0.322);
    align-content: top;
    overflow: hidden;
    transition: 300ms;
  }

  .close{
    position: absolute;
    display: block;
    top: 0;
    right: 15px;
    font-size: 50px;
    font-weight: bolder;
  }

  .close i{
    color: #F14747;
  }

  .navigation li{
    padding: 10px 0;
  }

  .navigation a{
    color: #313D6F;
  }

  .navigation .ul{
    padding: 10px 0;
  }

  hr{
    padding-bottom: 0px;
    background-color: #F14747;
    /* font-size: 5em; */
  }

  .navigation .btn .mode{
    margin-top: 3%;
  }

  .nav-head{
    display: flex;
    background-color: white;
    justify-content: space-between;
    color: white;
    position: fixed;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0px 16px 32px rgba(12, 12, 13, 0.523);

  }

  ul{
    display: block;
  }

  .main{
    display: grid;
    grid-template-columns: 1fr;
  }

  .btn{
    display: block;
  }

  .boxs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
    width: 15rem;
  }

  .main-content{
    width: 100%;
  }

  .main-content h1{
    font-size: 40px;
  }

  .menu{
    display: inline;
  }

  
}